.animation {
  transform-origin: top center;
  animation-name: swing;
}

@keyframes swing {
  10% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
