.baseAnimation {
  animation-duration: var(--duration);
  animation-iteration-count: var(--iterations);
  animation-direction: var(--direction);
}

.noAnimation {
  animation: none;
}

.noPseudoAnimation {
  &::before {
    animation: none !important;
    display: none;
  }
}
